.article {

  /* Styles so table will get scroll inside article. Entire article contents gets scrolled. */
  width: 100%;
  margin-bottom: 15px;
  /*overflow-y: hidden;
  overflow-x: scroll;*/
  /* End: table containing styles. */

  .byline {
    margin-bottom: rem-calc(20);
  }

  .details {
    p {
      font-size: rem-calc(16);
    }

  }

  .tips {
    ul {
      color: $KSBlueMedium;

      li {

        a {
          color: $KSBlueMedium;
        }
      }
    }
  }
  figure {
    margin: rem-calc(0 0 20 0);

    img {
      // margin-bottom: rem-calc(2);
    }

    &.vertical {
      float: left;
      width: 50%;
      margin-right: rem-calc(20);
    }

    figcaption {
      color: $KSGreyCaption;
      line-height: rem-calc(20);
      font-size: rem-calc(13);
    }

  }



  ul, ol {
    clear: left;
  }

  table {
    width: 100%;
  }

  .contact {
    ul {
      list-style: none;
      margin: 0;
    }
  }

}