.article {

  /* Styles so table will get scroll inside article. Entire article contents gets scrolled. */
  width: 100%;
  margin-bottom: 15px;
  overflow-y: hidden;
  overflow-x: scroll;
  /* End: table containing styles. */

  .byline {
    margin-bottom: rem-calc(20);
  }

  .tips {
    ul {
      color: $KSBlueMedium;

      li {

        a {
          color: $KSBlueMedium;
        }
      }
    }
  }

  img {

    &.top-img {
      margin-bottom: rem-calc(20);

      &.vertical {
        float: left;
        width: 50%;
        margin-right: rem-calc(20);
      }
    }

    &.inline {

      float: right;
      width: 50%;
      padding: rem-calc(20 0);
      margin: rem-calc(0 20);
      border-top: 2px solid $KSGreyBorderDarker;
      border-bottom: 2px solid $KSGreyBorderDarker;

    }
  }

  ul, ol {
    clear: left;
  }

  table {
    width: 100%;
  }

  .contact {
    ul {
      list-style: none;
      margin: 0;
    }
  }

}