.events {
  span {
    line-height: 1rem;
    // margin-bottom: 1rem;
  }

}

.calendar {



  table {
    margin-bottom: rem-calc(16);

    thead {
      h5 {
        text-transform: uppercase;
        font-size: rem-calc(16);
      }
      a {
        color: $KSBlack;

        .icon-arrow-left {margin-left: rem-calc(14);}
        .icon-arrow-right {margin-right: rem-calc(14);}
      }

      tr.h6 {
        th {
          line-height: rem-calc(16);
          padding: rem-calc(0 2);
          font-weight: normal;
          color: $KSRed;
        }
      }
    }

    tr{

      td {
        line-height: rem-calc(16);
        padding: rem-calc(4 6);

        a {
          &.inactive {
            color: $KSGreyInactiveCalendar;
          }
          &.current {
            color: $KSRed;
          }
          &.selected {
            font-weight: bold;
          }
        }

        &.events-1 {
          background-color: $KSCalendarEvents1;
        }
        &.events-2 {
          background-color: $KSCalendarEvents2;
        }
        &.events-3 {
          background-color: $KSCalendarEvents3;
          a {
            color: $KSWhite;
          }
        }
        &.events-4 {
          background-color: $KSCalendarEvents4;
          a {
            color: $KSWhite;
          }
        }
        &.events-5 {
          background-color: $KSCalendarEvents5;
          a {
            color: $KSWhite;
            &.events-5 {
              background-color: $KSCalendarEvents5;
              color: $KSWhite;
              padding: rem-calc(4 6);
            }
          }
        }

        a {
          color: $KSBlack;
        }

      }

    }

  }

}