.events {
  ul.events-list {
    list-style: none;
    margin-left: 0;

    li {
      border-bottom: 1px solid $KSGreyBorder;
      margin-bottom: rem-calc(10);
    }

    span {
      line-height: 1rem;

      &.month {
        text-transform: uppercase;
        font-size: rem-calc(16);
      }

      &.date {
        color: $KSRed;
        font-size: rem-calc(40);
        display: inline-block;
        margin-top: rem-calc(5);
      }
    }
  }
}


.calendar {

  &:focus {
    outline: none;
  }

  table {
    margin-bottom: rem-calc(16);

    thead {
      h5 {
        text-transform: uppercase;
        font-size: rem-calc(16);

        &:focus {
          outline: none;
        }
      }
      a {
        color: $KSBlack;

        &:focus {
          outline: none;
        }
      }

      tr.h6 {
        th {
          line-height: rem-calc(16);
          padding: rem-calc(0 2);
          font-weight: normal;
          color: $KSRed;
        }
      }
    }

    tr{

      td {
        line-height: rem-calc(16);
        padding: rem-calc(4 6);

        a {
          &.inactive {
            color: $KSGreyInactiveCalendar;
            cursor: default;
          }
          &.current {
            color: $KSRed;
          }
          &.selected {
            font-weight: bold;
          }
          &:focus {
            outline: none;
          }
        }

        &.events-1 {
          background-color: $KSCalendarEvents1;
        }
        &.events-2 {
          background-color: $KSCalendarEvents2;
        }
        &.events-3 {
          background-color: $KSCalendarEvents3;
          a {
            color: $KSWhite;
          }
        }
        &.events-4 {
          background-color: $KSCalendarEvents4;
          a {
            color: $KSWhite;
          }
        }
        &.events-5 {
          background-color: $KSCalendarEvents5;
          a {
            color: $KSWhite;
          }

          &.inactive {
            background-color: $KSCalendarEvents4;
          }
        }

        a {
          color: $KSBlack;
        }

      }

    }

  }

}