.frontpage {

  ul.events-list {
    li {
      padding-bottom: rem-calc(10);
      max-width: none;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  /* slide carousel */
  /*.slide {
    // transition: opacity 0.1s;
    margin-bottom: rem-calc(20);

    &.ng-hide-add {
      display: inline !important;
      //opacity: 1;
    }

    &.ng-hide-remove {
      //background: blue;
      //opacity: 0;
    }

    img {
      max-height: 305px;
    }

    .teaser {

      a {
        color: $KSRed;
        &:hover {
          text-decoration: underline;
        }
      }

      .ks-button-small {
        padding: 5px 15px;
        font-size: rem-calc(14);
        color: $KSWhite;
      }
    }
  }*/

  .bignews {

    img {
      max-height: 305px;
    }

    .teaser {
      a {
        color: $KSRed;

        &:hover {
          text-decoration: underline;
        }
      }

      .ks-button-small {
        padding: 5px 15px;
        font-size: rem-calc(14);
        color: $KSWhite;
      }
    }
  }

  /* Mintid */
  .mintid-container {
    margin-bottom: 20px;

    iframe {
      width: 100%;
    }
  }

  /* Shortcuts */
  .shortcuts {

    li {
      color: $KSBlack;
    }
    a {
      // color: $KSWhite;
      color: $KSBlack;
      margin-right: 10px;
    }

    label {
      color: $KSBlack;
    }

    form {
      margin-bottom: 5px;
    }

    .ks-button-small {
      background-color: $KSBluePrimary;
      padding: 4px 22px;
    }

    .field-validation-error{
      line-height: 1rem;
      color: red;
    }
  }

  /*4x articles on frontpage:*/
  .ks-panel-white {

    // remove whitespace over status update:
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: #F9F8F2;
    border: none;

    a.teaser {

      display: block;
      color: $KSRed;
      margin-bottom: rem-calc(20);

      &:hover {
        text-decoration: underline;
      }

      img {
        max-height: 88px;
        margin-bottom: 5px;
      }
      p {
        margin-bottom: 0;
      }
    }
  }

  .byline {
    margin-bottom: rem-calc(10);

    li {
      font-size: rem-calc(12);
      line-height: rem-calc(16);
    }
    .date, .align-with-date {
      &:before {
        content: " ";
        font-size: rem-calc(15);
        vertical-align: middle;
      }
    }
    .date {
      &:before {
        content: "\e603";
        font-family: "icomoon";
        display: inline-block;
        margin-right: rem-calc(5);
      }
    }
  }

}

@media #{$medium-only} {
  .frontpage {
    .slide {
      img {
        max-height: 241px;
      }
    }
  }
}

@media #{$large-up} {
  .frontpage {
    .slide {
      img {
        max-height: 252px;
      }
    }
  }
}


/* pager is not nested so it can be reused on search result page */

ul.pager {
  li {
    margin-left: rem-calc(2);
    a {
      padding: rem-calc(1 7);

      &.active {
        background-color: $KSRed;
        color: $KSWhite;
      }
    }
  }
}