/********************************
Header and navigation
********************************/

.tab-bar {
  overflow: hidden;
  height: auto;
  margin-bottom: rem-calc(20);

  .menu-icon {
    color: $KSBluePrimary;

    p {
      position: relative;
      top: 30px;
      left: -26px;
      font-size: rem-calc(11);
      text-transform: uppercase;
    }
  }

  .logo-container {
    margin-top: rem-calc(10);

    .logo {
      float: left;
      height: rem-calc(35);
      margin-right: rem-calc(10);
    }

    h1 {
      text-transform: uppercase;
      font-weight: normal;
      float: left;

      &:first-letter {
        font-size: rem-calc(26);
      }

      a {
        color: $KSBluePrimary;
      }
    }
  }

  section {
    text-align: left;

    &.search-container {
      left: inherit;

      .mytime, .user {
        line-height: normal;
        margin-top: rem-calc(5);
      }

      .mytime {
        text-transform: uppercase;

        .ks-button-small {
          min-width: rem-calc(40);
          text-transform: none;
          margin-bottom: 0;
        }
      }
      .search {
        .ks-button-small {
          text-transform: uppercase;
          background-color: $KSBluePrimary;
        }

      }

    }
  }
}

@media #{$medium-up} {
  .tab-bar {
    section {
      &.search-container {
        min-width: rem-calc(300);
      }
    }
  }
}