/********************************
Header and navigation
********************************/

.tab-bar {
  height: auto;
  margin-bottom: rem-calc(20);

  .menu-icon {
    color: $KSBluePrimary;

    p {
      position: relative;
      top: 30px;
      left: -26px;
      font-size: rem-calc(11);
      text-transform: uppercase;
    }
  }

  .logo-container {
    margin-top: rem-calc(10);

    .logo {
      float: left;
      height: rem-calc(35);
      margin-right: rem-calc(10);
    }

    h1 {
      text-transform: uppercase;
      font-weight: normal;
      float: left;

      &:first-letter {
        font-size: rem-calc(26);
      }

      a {
        color: $KSBluePrimary;
      }
    }
  }

  section {
    text-align: left;

    &.margin-correction {
      margin-left: rem-calc(-10);
    }

    &.search-container {
      left: inherit;
      margin-left: 20px;

      .mytime, .user {
        line-height: normal;
        margin-top: rem-calc(5);
      }

      .mytime {
        text-transform: uppercase;

        .ks-button-small {
          min-width: rem-calc(40);
          text-transform: none;
          margin-bottom: 0;
        }
      }
    }

    &.mintid-container {
      margin-top: 20px;
    }
  }
}

@media #{$medium-up} {
  .tab-bar {
    section {
      &.search-container {
        min-width: rem-calc(300);
      }
    }
  }
}

.breadcrumbs {
  margin-bottom: 1.25rem;

  li {
    line-height: rem-calc(20);
    vertical-align: top;

    &:before {
      font-size: rem-calc(20);
    }
  }
  a, span {
    font-family: Calibri, Arial, sans-serif;
    font-size: rem-calc(15);
  }

  a {
    vertical-align: top;

    &:hover {
      text-decoration: underline;
      color: $KSRed;
    }
  }

  span {
    line-height: inherit;
    vertical-align: top;
    color: $KSBlack;
  }

  .home {
    font-family: icomoon;
    font-size: rem-calc(16);
    &:before {
      content: "\f015";
      vertical-align: top;
    }
  }
}



/* Searchfield styling is not nested, so it can be reused on persons page */
.search {
  .icon-search2 {
    &:before {
      position: absolute;
      top: 7px;
      right: 7px;
      color: $KSGreyIcon;
    }
  }

  .searchfield {
    height: rem-calc(30);
    padding-right: rem-calc(40);

  }
  .ks-button-small {
    height: rem-calc(30);
    text-transform: uppercase;
    background-color: $KSBluePrimary;
  }

}