
/***** KS Colors *****/

// primary blue:
$KSBluePrimary: #1C4072;

// secondary:
$KSBlueMedium: #27A0DD;
$KSBlueLight: #CAE5F8;
$KSBlueLighter: #EDF6FD;
$KSGrey: #C8C8C8;
$KSGreyBorder: #E7E7E7;
$KSGreyBorderDarker: #C8C8C8;
$KSOrange: #F7B249;
$KSRed: #CD2346;
$KSGreen: #BEBC27;


// special:
$KSGolden: #BF9B66;
$KSSilver: #B3B3B2;
$KSGreyInactiveCalendar: #B2B2B2;
$KSCalendarEvents1: #FDF5F3;
$KSCalendarEvents2: #F6E1DE;
$KSCalendarEvents3: #E6A09E;
$KSCalendarEvents4: #DB7376;
$KSCalendarEvents5: #CC1B43;

// basic:
$KSWhite: #fff;
$KSBlack: #000;


/***** KS Measurements *****/
$KSColumnHeight: 500px;



/***** KS Typography *****/

body {
  font-family: Calibri, Arial, Sans-Serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

p, li {
  max-width: rem-calc(550);
  font-size: rem-calc(14);
}

p.leadtext{
  font-size: rem-calc(18);
}

.meta {
  color: $KSBluePrimary;
  line-height: rem-calc(30);
  font-size: rem-calc(14);
}

