
/***** KS Colors *****/

// primary blue:
$KSBluePrimary: #1C4072;

// secondary:
$KSBlueMedium: #00A1E0;
$KSBlueLight: #CAE5F8;
$KSGrey: #C8C8C8;
$KSOrange: #F7B249;
$KSRed: #CD2346;
$KSGreen: #BEBC27;

// special:
$KSGolden: #BF9B66;
$KSSilver: #B3B3B2;

// basic:
$KSWhite: #fff;
$KSBlack: #000;

/***** KS Typography *****/

body {
  font-family: Calibri, Arial, Sans-Serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

p, li {
  max-width: rem-calc(550);
}
