@import "ksprofile";
@import "mixins";


body {
   line-height: 0;
}

.left-off-canvas-menu {
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;

  //top: $tabbar-height;
  bottom: initial;

  // cheat:
  min-height: rem-calc(800);

  li {
    a {
      &:hover {
        background: none!important;
      }
    }
  }
}


@media #{$medium-up} {
  .text-center-medium-up {
    text-align: center!important;
  }
}



/********************************
Panels
********************************/
.ks-panel-blue {
  @include panel($bg:$KSBlueLight, $padding:$panel-padding, $adjust:true);
  border: none;
}

.ks-panel-green {
  @include panel($bg:$KSGreen, $padding:$panel-padding, $adjust:true);
  border: none;

  li {
    color: $KSBlack;

    a {
      color: $KSBlack;
    }
  }

  h2 {
    color: $KSBlack;
  }
}

.ks-panel-white {
  @include panel($bg:$KSWhite, $padding:$panel-padding, $adjust:true);
  border: 2px solid $KSGreyBorder;
}

.ks-panel-calendar {
  @include panel($bg:$KSWhite, $padding:$panel-padding, $adjust:true);
}

.ks-panel-blueframe {
  @include panel($bg:$KSWhite, $padding:$panel-padding/2, $adjust:true);
  border: 2px solid $KSBlueMedium;
}



/********************************
Other
********************************/
.teaser {
  h1, h2, h3, h4, h5, h6 {
    color: $KSRed;
  }
}

.bottom-spacer {
  height: rem-calc(80);
}

.list-unstyled {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

/*
.equal-column-container{
  overflow: hidden;
}

.equal-height-column {
  height: auto;
  padding-bottom: $KSColumnHeight;
  margin-bottom: -$KSColumnHeight;
}
*/

.relativity {
  position: relative;
}

.bottom-seeker {
  position: absolute;
  bottom: 0;

  &.right {
    right: $column-gutter / 2;
  }
}





