@import "ksprofile";




/********************************
Header and navigation
********************************/


// overrides - todo: se om disse kan gjøres via settings
.tab-bar {
  margin-bottom: rem-calc(30);

  .menu-icon {
    color: $KSBluePrimary;

    p {
      position: relative;
      top: 30px;
      left: -26px;

      font-size: rem-calc(11);
      text-transform: uppercase;
    }
  }

  h1 {
    text-transform: uppercase;
    font-weight: normal;

    &:first-letter {
      font-size: rem-calc(26);
    }

    a {
      color: $KSBluePrimary;
    }
  }

  section {
    text-align: left;

    &.right {
      left: inherit;

      .mytime, .user {
        line-height: normal;
        margin-top: rem-calc(5);
      }

      .mytime {
        text-transform: uppercase;

        .ks-button-small {
          min-width: rem-calc(40);
          text-transform: none;
          margin-bottom: 0;
        }
      }
      .search {
        .ks-button-small {
          text-transform: uppercase;
          margin-bottom: 0;
          background-color: $KSBluePrimary;

          padding: 4px 20px; // adjust to input:
        }
        .searchfield {
          width: rem-calc(250);
        }
      }

    }
  }
}

.left-off-canvas-menu {
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;

  //top: $tabbar-height;
  bottom: initial;

  // cheat:
  min-height: rem-calc(800);

  li {
    a {
      &:hover {
        background: none!important;
      }
    }
  }
}




/********************************
Buttons
********************************/
.ks-button {
  @include button($padding:rem-calc(12), $bg:$KSRed, $full-width:false);
}

.ks-button-small {
  @include button($padding:rem-calc(2), $bg:$KSRed, $full-width:false);

  &.false { background-color: $KSRed;}
  &.true { background-color: $KSGreen;}
}


/********************************
Panels
********************************/
.ks-panel-blue {
  @include panel($bg:$KSBlueLight, $padding:$panel-padding, $adjust:true);
  border: none;
}

.ks-panel-green {
  @include panel($bg:$KSGreen, $padding:$panel-padding, $adjust:true);
  border: none;

  li { color: $KSWhite; }
}

.ks-panel-white {
  @include panel($bg:$KSWhite, $padding:$panel-padding, $adjust:true);
  border: 2px solid $KSGreyBorder;
}

.ks-panel-calendar {
  @include panel($bg:$KSWhite, $padding:$panel-padding, $adjust:true);
}


/********************************
Teaser carousel
********************************/

.teaser {
  .ks-button-small {
    padding: 5px 15px;
    font-size: rem-calc(14);
  }
}


/********************************
Articles
********************************/

// 4x articles on frontpage:
.ks-panel-white {
  .teaser {
    img {
      margin-bottom: 5px;
    }
  }
}

.byline {
  margin-bottom: rem-calc(5);

  li {
    font-size: rem-calc(12);
    line-height: rem-calc(16);
  }
  .date, .align-with-date {
    &:before {
        content: " ";
        font-size: rem-calc(20);
        vertical-align: middle;
    }
  }
  .date {
    &:before {
      content: "\f12b";
      font-family: "foundation-icons";
      display: inline-block;
      margin-right: rem-calc(5);

    }
  }
}

/********************************
Other
********************************/
.teaser, .calendar {
  h1, h2, h3, h4, h5, h6 {
    color: $KSRed;
  }
}

.bottom-spacer {
  height: rem-calc(80);
}

.equal-column-container{
  overflow: hidden;
}

.equal-height-column {
  height: auto;
  padding-bottom: $KSColumnHeight;
  margin-bottom: -$KSColumnHeight;
}

.relativity {
  position: relative;
}

.bottom-seeker {
  position: absolute;
  bottom: 0;
}


