.search {

  ul.nav-tabs {
    list-style: none;

    li {
      &.active {
        border-bottom: 3px solid $KSRed;
      }

      a {
        text-transform: uppercase;
        color: $KSBlack;
      }
    }
  }

  .tab-content{
    >.tab-pane {
      display: none;
    }
    >.active {
      display: block;
    }

    ul {
      list-style: none;
      margin-left: 0;

      li {


      }

    }


  }

}