.search {

  ul.nav-tabs {
    list-style: none;

    a {
      text-transform: uppercase;
      color: $KSBlack;

    }

  }

  .tab-content>.tab-pane {
    display: none;
  }

  .tab-content>.active {
    display: block;
  }

}