<section class="main-section">
    <!-- main content -->

    <div class="row">
        <!-- article text content needs more offset on larger screens: -->
        <div class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 columns article">
            <h1>Kommunene trenger flere sykepleiere</h1>

            <div class="ks-panel-blueframe tips">
                <ul>
                    <li><a href="#">10 gode råde for skriving generelt</a></li>
                    <li><a href="#">Hvordan skrive styresaker</a></li>
                </ul>
            </div>

            <ul class="inline-list byline">
                <li><span class="date">17.04.2014</span></li>
                <li><span class="align-with-date">AV: Sissel Ambjør</span></li>
            </ul>
            <h5>Hva skal vårt lokaldemokrati bygge på i fremtiden? Tillit eller tilsyn? Skjønn eller regler? Står det så bra til at vi bare kan lene oss tilbake - eller har vi grunn til uro? Hør statsminister Erna Solberg, tidligere statsminister Jens Stoltenberg og andre topppolitikeres ideer og løsninger.</h5>
            <img src="img/meeting2.jpg" alt="Bemanningen må være basert på forholdene. " class="top-img"/>
            <!-- todo: image sub text -->

            <p>Stiftelsesmøtet varte i to dager og har i etterkant blitt regnet som NSFs første generalforsamling. På møtet ble navnet Norsk Sykepleierskeforbund, organisasjonens lover, dens emblem, opprop til landets sykepleiere og opprettelsen av tidsskriftet Sykepleien vedtatt. Bergljot Larsson ble valgt til formann og redaktør av tidsskriftet. I 1949 byttet forbundet navn til Norsk Sykepleierforbund.</p>
            <h4>Stiftelsen av forbundet</h4>
            <p>Den aller første logoen ble tegnet av broren til Bergljot Larsson, Brynjulf Larsson. Han var utdannet ved Statens Kunst- og Håndverkskole. Logoens symbolikk er «sol gjennom sky». Emblemet var forbeholdt de med det som ble ansett som akseptabel utdanning og var et symbol på at sykepleieren tilfredsstilte NSFs krav om «dyktighet samt et pliktopfyldende og hæderlig liv».</p>
            <p>Allerede fra stiftelsen var Norsk Sykepleierforbund en organisasjon for utdannede sykepleiere. Faglig fokus og en god sykepleierutdanning har derfor vært et viktig anliggende gjennom alle disse årene. Forbundet har vært en drivkraft for å sikre både enhetlig, treårig sykepleierutdanning og statlig autorisasjon.</p>
            <h4>Bemanning på sykehjem</h4>
            <p>Norges første sykepleierutdanning startet i 1868 ved Diakonissehuset i Oslo. Fra 1890-tallet startet flere andre sykepleierutdanninger rundt om i landet. Eierne var kommunale sykehus, livssynsorganisasjoner eller humanitære organisasjoner. Stort sett varte utdanningen mellom ett og to år. Å få utvidet den ble en merkesak for NSF. Elevene var lenge billig arbeidskraft for sykehusene.</p>
            <img src="img/meeting.png" alt="Bemanningen må være basert på forholdene. " class="inline"/>
            <p>Den første markante oppgave det nystiftede forbundet arbeidet for var en radikal forbedring av sykepleierutdanningen. Først dyktighet – så rettigheter var forbundets parole. NSFs krav var treårig enhetlig utdannelse i sykepleierfaget. Gjennom en slik utdannelse ønsket NSF at staten skulle gi autorisasjon til fagutdannede sykepleiere.</p>
            <h4>Stiftelsen av forbundet</h4>
            <p>Den aller første logoen ble tegnet av broren til Bergljot Larsson, Brynjulf Larsson. Han var utdannet ved Statens Kunst- og Håndverkskole. Logoens symbolikk er «sol gjennom sky». Emblemet var forbeholdt de med det som ble ansett som akseptabel utdanning og var et symbol på at sykepleieren tilfredsstilte NSFs krav om «dyktighet samt et pliktopfyldende og hæderlig liv».</p>


            <div class="row">
                <div class="small-12 medium-8 large-6 columns">
                    <div class="ks-panel-green contact">
                        <h3>Kontaktperson</h3>
                        <ul>
                            <li>Svein Kamfjord</li>
                            <li>Fagsjef</li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>

    </div>
</section>
<!-- end: main-section -->