

<!-- calendar
<div class="ks-panel-calendar-not">
    <div class="calendar">

        <div class="header">
            <a href="#"> < </a>
            <h5>Mars</h5>
            <a href="#"> > </a>
        </div>


        <table>
            <tr>
                <td class="inactive">24</td>
                <td class="inactive">25</td>
                <td class="inactive">26</td>
                <td class="inactive">27</td>
                <td class="inactive">28</td>
                <td>1</td>
                <td>2</td>
            </tr>
            <tr>
                <td>3</td>
                <td>4</td>
                <td class="events-3">5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td class="events-4">9</td>
            </tr>
            <tr>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td>13</td>
                <td>14</td>
                <td>15</td>
                <td>16</td>
            </tr>
            <tr>
                <td>17</td>
                <td class="events-5">18</td>
                <td>19</td>
                <td>20</td>
                <td>21</td>
                <td>22</td>
                <td class="events-5">23</td>
            </tr>
            <tr>
                <td>24</td>
                <td>25</td>
                <td class="events-2">26</td>
                <td>27</td>
                <td class="events-1">28</td>
                <td>29</td>
                <td>30</td>
            </tr>
            <tr>
                <td>31</td>
            </tr>
        </table>

        <a href="#">Se i kalender</a>

    </div>
</div>-->