
<div class="ks-panel-calendar">
    <ul class="events-list">
        <li>
            <div class="row">
                <div class="small-2 medium-3 columns date-column">
                    <div class="row">
                        <div class="small-12 columns text-center-medium-up"><span class="month">Mai</span></div>
                        <div class="small-12 columns text-center-medium-up"><span class="date">8</span></div>
                    </div>
                </div>
                <div class="small-10 medium-9 columns">
                    <h2 class="header5"><a href="/#article">Norsk kommunesektor i EU/EØS teorien</a></h2>
                </div>
            </div>
        </li>

        <li>
            <div class="row">
                <div class="small-2 medium-3 columns date-column">
                    <div class="row">
                        <div class="small-12 columns text-center-medium-up"><span class="month">Mai</span></div>
                        <div class="small-12 columns text-center-medium-up"><span class="date">10</span></div>
                    </div>
                </div>
                <div class="small-10 medium-9 columns">
                    <h2 class="header5"><a href="/#article">Fagsamling for FoU</a></h2>
                </div>
            </div>
        </li>

        <li>
            <div class="row">
                <div class="small-2 medium-3 columns date-column">
                    <div class="row">
                        <div class="small-12 columns text-center-medium-up"><span class="month">Mai</span></div>
                        <div class="small-12 columns text-center-medium-up"><span class="date">12</span></div>
                    </div>
                </div>
                <div class="small-10 medium-9 columns">
                    <h2 class="header5"><a href="/#article">Senkveldssamling </a></h2>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="small-2 medium-3 columns date-column">
                    <div class="row">
                        <div class="small-12 columns text-center-medium-up"><span class="month">Mai</span></div>
                        <div class="small-12 columns text-center-medium-up"><span class="date">12</span></div>
                    </div>
                </div>
                <div class="small-10 medium-9 columns">
                    <h2 class="header5"><a href="/#article">Senkveldssamling </a></h2>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="small-2 medium-3 columns date-column">
                    <div class="row">
                        <div class="small-12 columns text-center-medium-up"><span class="month">Mai</span></div>
                        <div class="small-12 columns text-center-medium-up"><span class="date">12</span></div>
                    </div>
                </div>
                <div class="small-10 medium-9 columns">
                    <h2 class="header5"><a href="/#article">Senkveldssamling </a></h2>
                </div>
            </div>
        </li>

    </ul>
    <a href="#">Se i kalender</a>
</div>