<section class="main-section events" ng-controller="CalendarCtrl as calendar">
    <!-- main content -->

    <div class="row">
        <!-- row for page the page -->
        <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns">

            <h1>Kommende arrangementer</h1>
            <p class="leadtext">Her finner du bruksanvisninger om støttesystemer i KS</p>

            <!-- month and region -->
            <form class="custom" action="#">
                <div class="row">
                    <!-- <div class="small-12 medium-6 columns"><label for="month">Velg måned</label></div> -->
                    <div class="small-12 medium-4 columns"><label for="region">Velg region</label></div>
                </div>
                <div class="row">
                    <div class="small-12 medium-4 columns">
                        <select name="region" id="region" ng-model="limit.region">
                            <option value="">Nullstill</option>
                            <option ng-repeat="region in calendar.regions" value="{{region.name}}">{{region.name}}</option>
                        </select>
                    </div>
                </div>
            </form>

            </div>
        </div>

    <div class="row">
        <!-- row for top with heading -->
        <div class="small-12 medium-12 large-10 large-offset-1 columns">
            <hr />
        </div>
    </div>

    <div class="row">
        <!-- row for page the page -->
        <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns">

            <div class="row">
                <!-- right col pushed for medium -->
                <div class="small-12 medium-4  columns">
                    <datepicker ng-model="calendar.dt" events="calendar.events" min-date="minDate" starting-day="1" show-weeks="false" class="datepicker"></datepicker>
                </div>

                <!-- main col pulled for medium -->
                <div class="small-12 medium-8  columns">

                    <ul class="list">
                        <li ng-repeat="event in filtered = (calendar.events | dateFilter: calendar.getStartDate():calendar.getEndDate() | filter: limit)">
                            <span>{{event.startDate | date:'MMM'}}</span>
                            <h2>{{event.startDate | date:'d'}}</h2>
                            <h2><a href="{{event.url}}">{{event.title}}</a></h2>
                            <p>{{event.region}}</p>
                            <p>{{event.description}}</p>
                        </li>
                        <li ng-show="filtered.length === 0"><h2>Ingen hendeklser for valgt periode og region</h2></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end: main-section -->








