<section class="footer">
    <div class="row">
        <div class="small-12 medium-11 medium-offset-1 large-12 large-offset-0 columns">
            <div class="row">
                <div class="small-12 medium-6 large-2 columns item">
                    <div class="logo">
                        <img src="img/logo.png" alt="" class="logo" />
                    </div>
                </div>

                <div class="small-12 medium-6 large-2 columns item">
                    <p>Haakon VIIs gate 9</p>
                    <p>0161 Oslo</p>
                    <p>&copy; KS</p>
                </div>

                <div class="small-12 medium-6 large-2 columns item">
                    <p>E-post: <a href="mailto:ks@ks.no">ks@ks.no</a></p>
                    <p>Tlf sentralbord: 24 13 26 00</p>
                    <p>Org.nr: 971 032 146</p>
                </div>

                <div class="small-12 medium-6 large-3 columns item">
                    <p>Redaktør: Marianne Fromreide</p>
                    <p>Webmaster: <a href="mailto:ks.no-support@ks.no">ks.no-support@.no</a></p>
                </div>

                <div class="small-12 medium-6 large-3 columns end item social">
                    <a href="http://www.facebook.com/KSKommunesektoren"><span class="icon-facebook"></span></a>
                    <a href="http://www.twitter.com/www_ks_no"><span class="icon-twitter"></span></a>
                    <a href="http://www.flickr.com"><span class="icon-flickr"></span></a>
                    <a href="http://www.youtube.com/kskommunesektoren"><span class="icon-youtube"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>