<section class="main-section frontpage">
    <!-- main content -->

    <div class="row">

        <!-- main col -->
        <div class="small-12 medium-6 large-8 columns">
            <!--<div slider=""></div>-->

            <!-- begin big news, replacement for slider -->
            <div class="row bignews">
                <div class="small-12 medium-12 large-6 columns">
                    <a href="#/article"><img ng-src="img/meeting2.jpg" alt="Påmelding til kommunalpolitisk toppmøte 2014" src="img/meeting2.jpg"></a>
                </div>
                <div class="small-12 medium-12 large-6 columns">
                    <div class="teaser">
                        <!-- really: h2 -->
                        <h2 class="header3"><a href="#/article">Påmelding til kommunalpolitisk toppmøte 2014</a></h2>
                        <ul class="inline-list byline">
                            <li><span class="date ng-binding">17.03.2014</span></li>
                            <li><span class="align-with-date ng-binding">Av Sissel Ambjør</span></li>
                        </ul>
                        <p>Hva skal vårt lokaldemokrati bygge på i fremtiden? Tillit eller tilsyn? Skjønn eller regler? Står det så bra til at vi bare kan lene oss tilbake - eller har vi grunn til uro? Hør statsminister Erna Solberg, tidligere statsminister Jens Stoltenberg og andre topppolitikeres ideer og løsninger.</p>
                    </div>
                </div>
            </div>
            <!-- end: big news -->

            <!-- 4x articles -->
            <div class="ks-panel-white">
                <div class="row">
                    <div class="small-12 medium-12 large-6 columns">
                        <a href="#" class="teaser">
                            <h2 class="header5">Påmelding til kommunalpolitisk toppmøte 2014</h2>
                            <div class="row">
                                <div class="small-12 medium-6 columns">
                                    <img src="img/meeting.png" alt="Kommunemøte 2013"/>
                                </div>
                                <div class="small-12 medium-6 columns">
                                    <ul class="inline-list byline">
                                        <li class="date">17.03.2014</li>
                                    </ul>
                                    <p>Hva skal vårt lokaldemokrati bygge på i fremtiden? Tillit eller tilsyn?</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="small-12 medium-12 large-6 columns">
                        <a href="#" class="teaser">
                            <h2 class="header5">Påmelding til kommunalpolitisk toppmøte</h2>
                            <div class="row">
                                <div class="small-12 medium-6 columns">
                                    <img src="img/meeting.png" alt="Kommunemøte 2013"/>
                                </div>
                                <div class="small-12 medium-6 columns">
                                    <ul class="inline-list byline">
                                        <li class="date">17.03.2014</li>
                                    </ul>
                                    <p>Hva skal vårt lokaldemokrati bygge på i fremtiden? Tillit eller tilsyn?</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 medium-12 large-6 columns">
                        <a href="#" class="teaser">
                            <h2 class="header5">Utvendig vindusvask 17. mars</h2>
                            <div class="row">
                                <div class="small-12 medium-6 columns">
                                    <img src="img/window_wash.png" alt="Kommunemøte 2013"/>
                                </div>
                                <div class="small-12 medium-6 columns">
                                    <ul class="inline-list byline">
                                        <li class="date">17.03.2014</li>
                                    </ul>
                                    <p>Denne dagen får vi vindusvask. Vær hjelpsom når de kommer. </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="small-12 medium-12 large-6 columns">
                        <a href="#" class="teaser">
                            <h2 class="header5">Påmelding til kommunalpolitisk toppmøte 2014</h2>
                            <div class="row">
                                <div class="small-12 medium-6 columns">
                                    <img src="img/meeting.png" alt="Kommunemøte 2013"/>
                                </div>
                                <div class="small-12 medium-6 columns">
                                    <ul class="inline-list byline">
                                        <li class="date">17.03.2014</li>
                                    </ul>
                                    <p>Hva skal vårt lokaldemokrati bygge på i fremtiden? Tillit eller tilsyn?</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- end: articles-wrapper -->

            <div statusupdate="" field="false" ></div>
        </div>


        <!-- right col -->
        <div class="small-12 medium-6 large-4 columns">
            <div class="panel mintid-container">
                <iframe src="http://mintid/MinTidPluginAspx/WinTidPlugin.aspx" width="310" height="73" frameborder="0" scrolling="no"></iframe>
                <!--<img src="/img/mintid.png" alt="debug iframe pic." />-->
                <!--<iframe src="http://foundation.zurb.com/docs/components/reveal.html" height="75" frameborder="0" scrolling="no"></iframe>-->
            </div>

            <!-- husk -->
            <div class="ks-panel-blue">
                <h2 class="header3">HUSK</h2>
                <p>Avdelingsmøte 25. april kl 16:00 Avdelingsmøte 25. april kl 16:00 Avdelingsmøte 25. april kl 16:00
                    Avdelingsmøte 25. april kl 16:00 Avdelingsmøte 25. april kl 16:00 Avdelingsmøte 25. april kl 16:00
                </p>
            </div>

            <!-- kalender -->
            <div ng-include src="'views/calendar.html'"></div>
        </div>



    </div>

</section>
<!-- end: main-section -->