<section class="main-section">
    <!-- main content -->

    <div slider=""></div>


    <div class="row">
        <div class="small-12 medium-12 large-4 large-push-8 columns">
            <div class="row">
                <div class="small-12 medium-6 large-12 columns">

                    <!-- husk -->
                    <div class="ks-panel-blue">
                        <!-- really: h2 -->
                        <h3>HUSK</h3>

                        <p>Avdelingsmøte 25. april kl 16:00</p>
                    </div>

                    <!-- calendar -->
                    <div class="ks-panel-calendar">
                        <div class="calendar">
                            <h5>Kalender</h5>
                            <ul>
                                <li>MAR 11</li>
                                <li>MAR 14</li>
                                <li>MAR 17</li>
                            </ul>
                            <a href="#">Se i kalender</a>
                        </div>
                    </div>
                </div>

                <div class="small-12 medium-6 large-12 columns">

                    <!-- snarveier -->
                    <div class="ks-panel-green">
                        <h5>Mine snarveier</h5>
                        <ul>
                            <li>Ks.no</li>
                            <li>Påmelding</li>
                            <li>Kalender</li>
                            <li>Arkivering</li>
                            <li>Ks.no</li>
                            <li>Påmelding</li>
                            <li>Kalender</li>
                            <li>Arkivering</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="small-12 medium-12 large-8 large-pull-4 columns">

            <!-- 4x articles -->
            <div class="ks-panel-white">
                <div class="row">
                    <div class="small-12 medium-6 columns">
                        <div class="teaser">
                            <!-- really: h2 -->
                            <a href="#">
                                <h5>Påmelding til kommunalpolitisk toppmøte 2014</h5>
                            </a>

                            <div class="row">
                                <div class="small-12 medium-6 columns">
                                    <a href="#">
                                        <img src="img/meeting.png" alt="Kommunemøte 2013"/>
                                    </a>
                                </div>
                                <div class="small-12 medium-6 columns">
                                    <ul class="inline-list byline">
                                        <li class="date">17.03.2014</li>
                                    </ul>
                                    <p>Hva skal vårt lokaldemokrati bygge på i fremtiden? Tillit eller tilsyn?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-12 medium-6 columns">
                        <div class="teaser">
                            <!-- really: h2 -->
                            <a href="#">
                                <h5>Påmelding til kommunalpolitisk toppmøte</h5>
                            </a>

                            <div class="row">
                                <div class="small-12 medium-6 columns">
                                    <a href="#">
                                        <img src="img/meeting.png" alt="Kommunemøte 2013"/>
                                    </a>
                                </div>
                                <div class="small-12 medium-6 columns">
                                    <ul class="inline-list byline">
                                        <li class="date">17.03.2014</li>
                                    </ul>
                                    <p>Hva skal vårt lokaldemokrati bygge på i fremtiden? Tillit eller tilsyn?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 medium-6 columns">
                        <div class="teaser">
                            <!-- really: h2 -->
                            <a href="#">
                                <h5>Utvendig vindusvask 17. mars</h5>
                            </a>

                            <div class="row">
                                <div class="small-12 medium-6 columns">
                                    <a href="#">
                                        <img src="img/window_wash.png" alt="Kommunemøte 2013"/>
                                    </a>
                                </div>
                                <div class="small-12 medium-6 columns">
                                    <ul class="inline-list byline">
                                        <li class="date">17.03.2014</li>
                                    </ul>
                                    <p>Denne dagen får vi vindusvask. Vær hjelpsom når de kommer. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-12 medium-6 columns">
                        <div class="teaser">
                            <!-- really: h2 -->
                            <a href="#">
                                <h5>Påmelding til kommunalpolitisk toppmøte 2014</h5>
                            </a>

                            <div class="row">
                                <div class="small-12 medium-6 columns">
                                    <a href="#">
                                        <img src="img/meeting.png" alt="Kommunemøte 2013"/>
                                    </a>
                                </div>
                                <div class="small-12 medium-6 columns">
                                    <ul class="inline-list byline">
                                        <li class="date">17.03.2014</li>
                                    </ul>
                                    <p>Hva skal vårt lokaldemokrati bygge på i fremtiden? Tillit eller tilsyn?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end: articles-wrapper -->

        </div>

        <div class="small-12 large-8 large-pull-4 columns">
            <!-- hva skjer? -->
            <div class="panel">
                <h5>Hva skjer?</h5>
                <ul>
                    <li>Ole Jørgen Grann</li>
                    <li>Kristi Kierulf</li>
                    <li>Tone Marie Solheim</li>
                </ul>
            </div>
        </div>

    </div>


</section>
<!-- end: main-section -->