<section class="main-section frontpage">
    <!-- main content -->

    <div class="row">
        <div class="small-12 medium-12 large-8 columns end">

            <!-- slider -->
            <!--<div slider=""></div>-->


            <!-- begin big news, replacement for slider -->
            <div class="row bignews">
                <div class="small-12 medium-6 columns">
                    <a href="#/article"><img ng-src="img/meeting2.jpg" alt="Påmelding til kommunalpolitisk toppmøte 2014" src="img/meeting2.jpg"></a>
                </div>
                <div class="small-12 medium-6 columns">
                    <div class="teaser">
                        <!-- really: h2 -->
                        <h2 class="header3"><a href="#/article">Påmelding til kommunalpolitisk toppmøte 2014</a></h2>
                        <ul class="inline-list byline">
                            <li><span class="date ng-binding">17.03.2014</span></li>
                            <li><span class="align-with-date ng-binding">Av Sissel Ambjør</span></li>
                        </ul>
                        <p>Hva skal vårt lokaldemokrati bygge på i fremtiden? Tillit eller tilsyn? Skjønn eller regler? Står det så bra til at vi bare kan lene oss tilbake - eller har vi grunn til uro? Hør statsminister Erna Solberg, tidligere statsminister Jens Stoltenberg og andre topppolitikeres ideer og løsninger.</p>
                    </div>
                </div>
            </div>
            <!-- end: big news -->


        </div>
        <div class="small-12 medium-12 large-4 columns">
            <div class="row">

                <div class="small-12 medium-6 large-12 columns">
                    <div class="panel mintid-container">
                        <iframe src="http://mintid/MinTidPluginAspx/WinTidPlugin.aspx" width="310" height="75" frameborder="0" scrolling="no"></iframe>
                         <!--<img src="/img/mintid.png" alt="debug iframe pic." />-->
                         <!--<iframe src="http://foundation.zurb.com/docs/components/reveal.html" height="75" frameborder="0" scrolling="no"></iframe>-->
                    </div>
                </div>

                <!--if "husk" is empty: remove all under here: -->
                <div class="small-12 medium-6 large-12 columns">
                    <!-- husk -->
                    <div class="ks-panel-blue">
                        <h2 class="header3">HUSK</h2>
                        <p>Avdelingsmøte 25. april kl 16:00 Avdelingsmøte 25. april kl 16:00 Avdelingsmøte 25. april kl 16:00
                            Avdelingsmøte 25. april kl 16:00 Avdelingsmøte 25. april kl 16:00 Avdelingsmøte 25. april kl 16:00
                        </p>
                    </div>
                </div>

                <!-- snarveier -->
                <!--<div class="small-12 medium-6 large-12 columns">
                    <div class="ks-panel-green shortcuts">
                        <h2 class="header5">Mine snarveier</h2>
                        <ul>
                            <li><a href="#/article">Ks.no</a></li>
                            <li><a href="#/article">Påmelding</a></li>
                            <li><a href="#/events">Kalender</a></li>
                            <li><a href="#/article">Arkivering</a></li>
                            <li><a href="#/frontpage">Ks.no</a></li>
                            <li><a href="#/article">Påmelding</a></li>
                            <li><a href="#/events">Kalender</a></li>
                            <li><a href="#/persons">Arkivering</a></li>
                        </ul>
                    </div>
                </div>-->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-12 large-4 large-push-8 columns">
            <!-- kalender -->
            <div ng-include src="'views/calendar.html'"></div>
        </div>

        <div class="small-12 large-8 large-pull-4 columns">
            <!-- 4x articles -->
            <div class="ks-panel-white">
                <div class="row">
                    <div class="small-12 medium-6 columns">
                        <a href="#" class="teaser">
                            <h2 class="header5">Påmelding til kommunalpolitisk toppmøte 2014</h2>
                            <div class="row">
                                <div class="small-12 medium-6 columns">
                                    <img src="img/meeting.png" alt="Kommunemøte 2013"/>
                                </div>
                                <div class="small-12 medium-6 columns">
                                    <ul class="inline-list byline">
                                        <li class="date">17.03.2014</li>
                                    </ul>
                                    <p>Hva skal vårt lokaldemokrati bygge på i fremtiden? Tillit eller tilsyn?</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="small-12 medium-6 columns">
                        <a href="#" class="teaser">
                            <h2 class="header5">Påmelding til kommunalpolitisk toppmøte</h2>
                            <div class="row">
                                <div class="small-12 medium-6 columns">
                                    <img src="img/meeting.png" alt="Kommunemøte 2013"/>
                                </div>
                                <div class="small-12 medium-6 columns">
                                    <ul class="inline-list byline">
                                        <li class="date">17.03.2014</li>
                                    </ul>
                                    <p>Hva skal vårt lokaldemokrati bygge på i fremtiden? Tillit eller tilsyn?</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 medium-6 columns">
                        <a href="#" class="teaser">
                            <h2 class="header5">Utvendig vindusvask 17. mars</h2>
                            <div class="row">
                                <div class="small-12 medium-6 columns">
                                    <img src="img/window_wash.png" alt="Kommunemøte 2013"/>
                                </div>
                                <div class="small-12 medium-6 columns">
                                    <ul class="inline-list byline">
                                        <li class="date">17.03.2014</li>
                                    </ul>
                                    <p>Denne dagen får vi vindusvask. Vær hjelpsom når de kommer. </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="small-12 medium-6 columns">
                        <a href="#" class="teaser">
                            <h2 class="header5">Påmelding til kommunalpolitisk toppmøte 2014</h2>
                            <div class="row">
                                <div class="small-12 medium-6 columns">
                                    <img src="img/meeting.png" alt="Kommunemøte 2013"/>
                                </div>
                                <div class="small-12 medium-6 columns">
                                    <ul class="inline-list byline">
                                        <li class="date">17.03.2014</li>
                                    </ul>
                                    <p>Hva skal vårt lokaldemokrati bygge på i fremtiden? Tillit eller tilsyn?</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- end: articles-wrapper -->
        </div>

    </div>


    <!-- status update -->
    <div class="row">
        <div class="small-12 medium-12 large-8 columns">
            <div statusupdate="" field="false" ></div>
        </div>
    </div>


</section>
<!-- end: main-section -->