<div ng-controller="navigationController as navigation">
    <div class="row">
        <div class="small-12 columns">
            <!-- header -->
            <nav class="tab-bar">

                    <multimenu menuitems="navigation.menuItems" visible="true" ></multimenu>




                <section class="left logo-container">
                    <a href="#/">
                        <img src="img/logo.png" alt="" class="logo" />
                        <h1 class="title"><a href="#/">Fiks</h1>
                    </a>
                </section>

                <section class="right search-container">
                    <div class="row">
                        <div class="small-12 columns">
                            <div class="mytime left">
                                <span class="meta">Min tid: </span>
                                <a class="ks-button-small center {{navigation.myTimeStatus.status}}"
                                    ng-click="navigation.toggleMyTime()">{{navigation.myTimeStatus.label}}</a>
                            </div>
                            <div class="user right">
                                <span class="meta">Stian Westvig</span>
                            </div>
                        </div>
                    </div>
                    <form class="search" action="/#/search">
                        <div class="row collapse">
                            <div class="small-9 columns magnify-carrier">
                                <input type="text" name="search" class="searchfield"/><span class="icon-search2"></span>
                            </div>
                            <div class="small-3 columns">
                                <input class="ks-button-small postfix" type="submit" value="Søk"/>
                            </div>
                        </div>
                    </form>
                </section>
            </nav>
        </div>
    </div>
</div>