<div ng-controller="navigationController as navigation">
    <div class="row">
        <div class="small-12 columns">
            <!-- header -->
            <nav class="tab-bar">

                <section class="left">

                    <div class="row">
                        <div class="small-12 columns">
                            <section class="left margin-correction">
                                <a closebutton class="left-off-canvas-toggle menu-icon"><span></span>
                                    <p>Meny</p>
                                </a>
                            </section>

                            <section class="left logo-container">
                                <a href="#/">
                                    <img src="img/logo.png" alt="" class="logo" />
                                    <h1 class="title"><a href="#/">Fiks</h1>
                                </a>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns hide-for-small-down">
                            <section class="left">
                                <ul class="breadcrumbs icomoon">
                                    <li><a class="home" href="#"></a></li>
                                    <li><a href="#">Støtte og tjenester</a></li>
                                    <li><a href="#">Kommunikasjon</a></li>
                                    <li class="current"><span>Skrivetips</span></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </section>

                <section class="right search-container">
                    <div class="row">
                        <div class="small-12 columns">
                            <div class="mytime left">
                                <!--<iframe src="http://mintid/MinTidPluginAspx/WinTidPlugin.aspx" width="250" height="45" frameborder="0" scrolling="no"></iframe>-->


                            <span class="meta">Min tid: </span>
                                <a class="ks-button-small center {{navigation.myTimeStatus.status}}"
                                   ng-click="navigation.toggleMyTime()">{{navigation.myTimeStatus.label}}</a>
                            </div>
                            <div class="user right">
                                <span class="meta">Stian Westvig</span>
                            </div>
                        </div>
                    </div>
                    <form class="search" action="/#/search">
                        <div class="row collapse">
                            <div class="small-9 columns magnify-carrier">
                                <input type="text" name="search" class="searchfield"/><span class="icon-search2"></span>
                            </div>
                            <div class="small-3 columns">
                                <input class="ks-button-small postfix" type="submit" value="Søk"/>
                            </div>
                        </div>
                    </form>
                </section>

            </nav>
        </div>
    </div> <multimenu menuitems="navigation.menuItems" visible="false"></multimenu>
    <script>
        var menudata = [

            {
                'href': '/en/profilside/',
                'linkText': 'Stian side'
            },



            {
                'href': '/en/listeside/',
                'linkText': 'Listeside',
                'categories': [
                    {
                        'href': '/en/listeside/nyhet-3/',
                        'linkText': 'Cognos',
                        'categories': [
                            {
                                'href': '/en/listeside/nyhet-3/test/',
                                'linkText': 'test'
                            }]
                    },
                    {
                        'href': '/en/listeside/nyhet-4/',
                        'linkText': '360'
                    },
                    {
                        'href': '/en/listeside/artikkelside/',
                        'linkText': 'Fiks'
                    },
                    {
                        'href': '/en/listeside/nyhet-1/',
                        'linkText': 'EyeShare'
                    },
                    {
                        'href': '/en/listeside/nyhet-2/',
                        'linkText': 'Current - reiseregninger og utlegg'
                    }]
            },



            {
                'href': '/en/artikkelside/',
                'linkText': 'Nyheter',
                'categories': [
                    {
                        'href': '/en/artikkelside/nyhet-4/',
                        'linkText': 'Nyhet 4'
                    },
                    {
                        'href': '/en/artikkelside/nyhet-3/',
                        'linkText': 'Nyhet 3'
                    },
                    {
                        'href': '/en/artikkelside/nyhet-2/',
                        'linkText': 'Nyhet 2'
                    },
                    {
                        'href': '/en/artikkelside/nyhet-1/',
                        'linkText': 'Nyhet 1'
                    }]
            },



            {
                'href': '/en/kalender/',
                'linkText': 'Kalender',
                'categories': [
                    {
                        'href': '/en/kalender/kalenderhendelse/',
                        'linkText': 'Kalenderhendelse'
                    },
                    {
                        'href': '/en/kalender/kalenderhendelse2/',
                        'linkText': 'Kalenderhendelse2'
                    }]
            },



            {
                'href': '/en/sok/',
                'linkText': 'Søk'
            }


        ];
    </script>
</div>
