<div ng-controller="navigationController as navigation">
    <div class="row">
        <div class="small-12 columns">
            <!-- header -->
            <nav class="tab-bar">
                <section class="left">
                    <a class="left-off-canvas-toggle menu-icon" ng-click="navigation.toggleNav()"><span></span>

                        <p>Meny</p>
                    </a>
                </section>

                <section class="left logo-container">

                    <img src="img/logo.png" alt="" class="logo" />
                    
                    <h1 class="title"><a href="#/">Fiks</a></h1>
                </section>

                <section class="right">
                    <div class="row">
                        <div class="small-12 columns">
                            <div class="mytime left">
                                <span class="meta">Min tid: </span>
                                <a class="ks-button-small center {{navigation.myTimeStatus.status}}"
                                    ng-click="navigation.toggleMyTime()">{{navigation.myTimeStatus.label}}</a>
                            </div>
                            <div class="user right">
                                <span class="meta">Stian Westvig</span>
                                <!-- hvis lenke:  <a href="#">Stian Westvig</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            <div class="search">
                                <input type="text" name="search" class="searchfield"/>
                                <input class="ks-button-small" type="submit" value="Søk"/>
                            </div>
                        </div>
                    </div>
                </section>

            </nav>

        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <aside class="left-off-canvas-menu" ng-hide="navigation.hideNavigation">
                <ul class="off-canvas-list">
                    <li><a ng-click="navigation.clicked()" href="#/article">Artikkel</a></li>
                    <li><a ng-click="navigation.clicked()" href="#/persons">Finn kollega</a></li>
                    <li><a ng-click="navigation.clicked()" href="#/events">Kommende arrangement</a></li>
                    <li><a ng-click="navigation.clicked()" href="#/profile">Profilside</a></li>
                    <li><a ng-click="navigation.clicked()" href="#/list">Listeside</a></li>
                    <li><a ng-click="navigation.clicked()" href="#/search">Søkeresultat</a></li>
                </ul>
            </aside>
        </div>
    </div>
</div>