<section class="left">
    <a closebutton class="left-off-canvas-toggle menu-icon"><span></span>
        <p>Meny</p>
    </a>
<div class="row" ng-show="isVisible">
    <div class="small-12 columns">
    <aside class="main-menu">
    <a backbutton ng-show="activeLevel > 0" class="back-button"></a>
    <a closebutton class="close-button"></a>
        <ul class="off-canvas-list"  ng-style="{
                '-webkit-transform': 'translate3d(-' +  ( activeLevel * 100 ) + '%, 0, 0) scale3d(1, 1, 1)' ,
                '-moz-transform': 'translate3d(-' +  ( activeLevel * 100 ) + '%, 0, 0) scale3d(1, 1, 1)' ,
                '-ms-transform': 'translate3d(-' +  ( activeLevel * 100 ) + '%, 0, 0) scale3d(1, 1, 1)' ,
                '-o-transformm': 'translate3d(-' +  ( activeLevel * 100 ) + '%, 0, 0) scale3d(1, 1, 1)' ,
                'transform': 'translate3d(-' +  ( activeLevel * 100 ) + '%, 0, 0) scale3d(1, 1, 1)' }" >
            <li ng-repeat="item in menuitems" ng-include="'menu_item.html'"></li>
        </ul>
    </aside>
    </div>
</div>
</section>