<section class="main-section persons" ng-controller="CalendarCtrl as calendar">
    <!-- main content -->

    <div class="row">
        <!-- row for page the page -->
        <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns">

            <h1>Finn kolleger</h1>
            <p class="leadtext">Søk på fornavn eller etternavn for å finne din kollega. Søk på fornavn eller etternavn for å finne din kollega. </p>

            <!-- person search -->
            <form class="search persons" action="#/persons">
                <div class="row">
                    <div class="small-12 medium-8 large-7 columns">
                        <div class="row collapse">
                            <div class="small-9 columns magnify-carrier">
                                <input type="text" name="search" placeholder="Finn kollega" class="searchfield"/><span class="icon-search2"></span>
                            </div>
                            <div class="small-3 columns">
                                <input class="ks-button-small postfix" type="submit" value="Finn"/>
                            </div>
                        </div>
                    </div>
                    <div class="small-12 medium-4 columns">
                        <select name="avdeling" id="avdeling">
                            <option value="">Begrens på avdeling</option>
                            <option value="informasjon">Informasjon</option>
                            <option value="ledelse">Ledelse</option>
                            <option value="it-drift">IT-Drift</option>
                            <option value="politisk">Politisk</option>
                        </select>
                    </div>
                </div>

            </form>

            <h2 class="header4">Resultatliste</h2>
            <!-- persons list -->
            <ul class="persons">
                <li>
                    <div class="row">
                        <div class="medium-2 columns hide-for-small-only">
                            <img src="../img/statusimageplaceholder1.png" alt="Kamfjord, Svein"/>
                        </div>
                        <div class="small-6 medium-6 columns">
                            <h3 class="header5"><a href="#/profile">Kamfjord, Svein</a></h3>
                            <p>Fagsjef</p>
                            <p>KS Bedrift</p>
                        </div>
                        <div class="small-6 medium-4 columns">
                            <p>Mobil: 930 30 423</p>
                            <p>Telefon: 22 45 68 99</p>
                            <p>E-post: <a href="mailto:svein.kamfjord@ks.no">svein.kamfjord@ks.no</a></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="medium-2 columns hide-for-small-only">
                            <img src="../img/statusimageplaceholder2.png" alt="Kamfjord, Svein"/>
                        </div>
                        <div class="small-6 medium-6 columns">
                            <h3 class="header5"><a href="#/profile">Kierulf, Kirsti</a></h3>
                            <p>Programleder for KommIT</p>
                            <p>Forskning, innovasjon og digitalisering</p>
                        </div>
                        <div class="small-6 medium-4 columns">
                            <p>Mobil: 950 62 780</p>
                            <p>Telefon: 22 45 68 99</p>
                            <p>E-post: <a href="mailto:kirsti.kierulf@ks.no">kirsti.kierulf@ks.no</a></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="medium-2 columns hide-for-small-only">
                            <img src="../img/statusimageplaceholder1.png" alt="Kamfjord, Svein"/>
                        </div>
                        <div class="small-6 medium-6 columns">
                            <h3 class="header5"><a href="#/profile">Kamfjord, Svein</a></h3>
                            <p>Fagsjef</p>
                            <p>KS Bedrift</p>
                        </div>
                        <div class="small-6 medium-4 columns">
                            <p>Mobil: 930 30 423</p>
                            <p>Telefon: 22 45 68 99</p>
                            <p>E-post: <a href="mailto:svein.kamfjord@ks.no">svein.kamfjord@ks.no</a></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="medium-2 columns hide-for-small-only">
                            <img src="../img/statusimageplaceholder2.png" alt="Kamfjord, Svein"/>
                        </div>
                        <div class="small-6 medium-6 columns">
                            <h3 class="header5"><a href="#/profile">Kierulf, Kirsti</a></h3>
                            <p>Programleder for KommIT</p>
                            <p>Forskning, innovasjon og digitalisering</p>
                        </div>
                        <div class="small-6 medium-4 columns">
                            <p>Mobil: 950 62 780</p>
                            <p>Telefon: 22 45 68 99</p>
                            <p>E-post: <a href="mailto:kirsti.kierulf@ks.no">kirsti.kierulf@ks.no</a></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="medium-2 columns hide-for-small-only">
                            <img src="../img/statusimageplaceholder1.png" alt="Kamfjord, Svein"/>
                        </div>
                        <div class="small-6 medium-6 columns">
                            <h3 class="header5"><a href="#/profile">Kamfjord, Svein</a></h3>
                            <p>Fagsjef</p>
                            <p>KS Bedrift</p>
                        </div>
                        <div class="small-6 medium-4 columns">
                            <p>Mobil: 930 30 423</p>
                            <p>Telefon: 22 45 68 99</p>
                            <p>E-post: <a href="mailto:svein.kamfjord@ks.no">svein.kamfjord@ks.no</a></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="medium-2 columns hide-for-small-only">
                            <img src="../img/statusimageplaceholder2.png" alt="Kamfjord, Svein"/>
                        </div>
                        <div class="small-6 medium-6 columns">
                            <h3 class="header5"><a href="#/profile">Kierulf, Kirsti</a></h3>
                            <p>Programleder for KommIT</p>
                            <p>Forskning, innovasjon og digitalisering</p>
                        </div>
                        <div class="small-6 medium-4 columns">
                            <p>Mobil: 950 62 780</p>
                            <p>Telefon: 22 45 68 99</p>
                            <p>E-post: <a href="mailto:kirsti.kierulf@ks.no">kirsti.kierulf@ks.no</a></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="medium-2 columns hide-for-small-only">
                            <img src="../img/statusimageplaceholder1.png" alt="Kamfjord, Svein"/>
                        </div>
                        <div class="small-6 medium-6 columns">
                            <h3 class="header5"><a href="#/profile">Kamfjord, Svein</a></h3>
                            <p>Fagsjef</p>
                            <p>KS Bedrift</p>
                        </div>
                        <div class="small-6 medium-4 columns">
                            <p>Mobil: 930 30 423</p>
                            <p>Telefon: 22 45 68 99</p>
                            <p>E-post: <a href="mailto:svein.kamfjord@ks.no">svein.kamfjord@ks.no</a></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="medium-2 columns hide-for-small-only">
                            <img src="../img/statusimageplaceholder2.png" alt="Kamfjord, Svein"/>
                        </div>
                        <div class="small-6 medium-6 columns">
                            <h3 class="header5"><a href="#/profile">Kierulf, Kirsti</a></h3>
                            <p>Programleder for KommIT</p>
                            <p>Forskning, innovasjon og digitalisering</p>
                        </div>
                        <div class="small-6 medium-4 columns">
                            <p>Mobil: 950 62 780</p>
                            <p>Telefon: 22 45 68 99</p>
                            <p>E-post: <a href="mailto:kirsti.kierulf@ks.no">kirsti.kierulf@ks.no</a></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="medium-2 columns hide-for-small-only">
                            <img src="../img/statusimageplaceholder1.png" alt="Kamfjord, Svein"/>
                        </div>
                        <div class="small-6 medium-6 columns">
                            <h3 class="header5"><a href="#/profile">Kamfjord, Svein</a></h3>
                            <p>Fagsjef</p>
                            <p>KS Bedrift</p>
                        </div>
                        <div class="small-6 medium-4 columns">
                            <p>Mobil: 930 30 423</p>
                            <p>Telefon: 22 45 68 99</p>
                            <p>E-post: <a href="mailto:svein.kamfjord@ks.no">svein.kamfjord@ks.no</a></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="medium-2 columns hide-for-small-only">
                            <img src="../img/statusimageplaceholder2.png" alt="Kamfjord, Svein"/>
                        </div>
                        <div class="small-6 medium-6 columns">
                            <h3 class="header5"><a href="#/profile">Kierulf, Kirsti</a></h3>
                            <p>Programleder for KommIT</p>
                            <p>Forskning, innovasjon og digitalisering</p>
                        </div>
                        <div class="small-6 medium-4 columns">
                            <p>Mobil: 950 62 780</p>
                            <p>Telefon: 22 45 68 99</p>
                            <p>E-post: <a href="mailto:kirsti.kierulf@ks.no">kirsti.kierulf@ks.no</a></p>
                        </div>
                    </div>
                </li>

            </ul>



        </div>
    </div>

</section>
<!-- end: main-section -->




