<section class="main-section profile">
    <!-- main content -->

    <div class="row">
        <div class="small-12 columns">
            <div class="ks-panel-blue">
                <div class="row">
                    <div class="small-12 medium-3 columns">
                        <img src="../img/statusimageplaceholder2.png" alt="Andreassen, Gerd"/>
                    </div>
                    <div class="small-12 medium-7 columns end">
                        <h1>Gerd Andreassen</h1>
                        <p class="leadtext">Prosjektleder, Helse og velferd</p>

                        <ul class="profile">
                            <li class="icon icon-mobile">950 62 780</li>
                            <li class="icon icon-phone">22 45 68 99</li>
                            <li class="icon icon-mail"><a href="mailto:gerd.andreassen@ks.no">gerd.andreassen@ks.no</a></li>
                        </ul>

                        <hr aria-hidden="true" />

                        <h2 class="header5 upper">Kompetanseprofil:</h2>
                        <p class="leadtext">Engasjert i resultateffektivitet i helse, KS-Kommunesektorens organisasjon. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-10 medium-offset-1 large-8 columns large-offset-2">
            <div statusupdate=""></div>
        </div>
    </div>
</section>
<!-- end: main-section -->