<section class="main-section search">
    <!-- main content -->

    <div class="row">
        <div class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 columns">
            <h1>Søk</h1>
            <!--<p class="leadtext">Ingen leadtext på søøøk</p>-->






            <tabset>
                <tab heading="Alle sider (4)">

                    <form class="search" action="/#/search">
                        <div class="row collapse">
                            <div class="small-8 medium-6 columns magnify-carrier">
                                <input type="text" name="search" class="searchfield" placeholder="Søk" /><span class="icon-search2"></span>
                            </div>
                            <div class="small-4 columns medium-3 end">
                                <input class="ks-button-small postfix" type="submit" value="Søk igjen"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small12 columns">
                                <p class="helper">Fant du ikke det du søkte etter? Prøv en annen formulering.</p>
                            </div>
                        </div>
                    </form>

                    <h2 class="header5 results">Ditt søk gav 4 treff på sider.</h2>

                    <ul class="list">
                        <li>
                            <h2 class="header4"><a href="#/article">Treff i alle sider</a></h2>
                            <p>Les mer om hvordan du kan bruke 360 -vårt system for dokumenthåndtering</p>
                        </li>
                        <li>
                            <h2 class="header4"><a href="#/article">360 dokumenthåndtering</a></h2>
                            <p>Les mer om hvordan du kan bruke 360 -vårt system for dokumenthåndtering</p>
                        </li>
                        <li>
                            <h2 class="header4"><a href="#/article">Reiseregninger</a></h2>
                            <p>Hvordan registrerer du en reiseregning? Og hvordan skal for eksempel en prosjektleder attestere regninger i Current? Her får du svaret!</p>
                        </li>
                        <li>
                            <h2 class="header4"><a href="#/article">360 degrees of awesome</a></h2>
                            <p>Les mer om hvordan du kan bruke 360 -vårt system for dokumenthåndtering</p>
                        </li>
                    </ul>
                </tab>
                <tab heading="Kolleger (5)">

                    <form class="search" action="/#/persons">
                        <div class="row collapse">
                            <div class="small-8 medium-6 columns magnify-carrier">
                                <input type="text" name="search" class="searchfield" placeholder="Finn kollega" /><span class="icon-search2"></span>
                            </div>
                            <div class="small-4 columns medium-3 end">
                                <input class="ks-button-small postfix" type="submit" value="Finn kollega"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small12 columns">
                                <p class="helper">Fant du ikke personen du søkte etter? Søk i fornavn eller etternavn. </p>
                            </div>
                        </div>
                    </form>

                    <h2 class="header5 results">Ditt søk gav 5 treff blandt kolleger.</h2>

                    <ul class="list">
                        <li>
                            <h2 class="header4"><a href="#/article">Stian Westvig</a></h2>
                            <p>Les mer om hvordan du kan bruke 360 -vårt system for dokumenthåndtering</p>
                        </li>
                        <li>
                            <h2 class="header4"><a href="#/article">Adam Haeger</a></h2>
                            <p>Les mer om hvordan du kan bruke 360 -vårt system for dokumenthåndtering</p>
                        </li>
                        <li>
                            <h2 class="header4"><a href="#/article">Thor Henden</a></h2>
                            <p>Hvordan registrerer du en reiseregning? Og hvordan skal for eksempel en prosjektleder attestere regninger i Current? Her får du svaret!</p>
                        </li>
                        <li>
                            <h2 class="header4"><a href="#/article">Per Atle Holvik</a></h2>
                            <p>Les mer om hvordan du kan bruke 360 -vårt system for dokumenthåndtering</p>
                        </li>
                        <li>
                            <h2 class="header4"><a href="#/article">Silje Sletteng</a></h2>
                            <p>Les mer om hvordan du kan bruke 360 -vårt system for dokumenthåndtering</p>
                        </li>
                    </ul>
                </tab>
            </tabset>





        </div>

    </div>
</section>
<!-- end: main-section -->