<section class="main-section search">
    <!-- main content -->

    <div class="row">
        <div class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 columns">
            <h1>Søk</h1>
            <!--<p class="leadtext">Ingen leadtext på søøøk</p>-->


            <tabset>
                <tab heading="Alle sider">
                    <ul class="list">
                        <li>
                            <h2>Alle sider</h2>
                            <p>Les mer om hvordan du kan bruke 360 -vårt system for dokumenthåndtering</p>
                        </li>
                        <li>
                            <h2>Alle sider</h2>
                            <p>Les mer om hvordan du kan bruke 360 -vårt system for dokumenthåndtering</p>
                        </li>
                        <li>
                            <h2>Alle sider</h2>
                            <p>Hvordan registrerer du en reiseregning? Og hvordan skal for eksempel en prosjektleder attestere regninger i Current? Her får du svaret!</p>
                        </li>
                        <li>
                            <h2>Alle sider</h2>
                            <p>Les mer om hvordan du kan bruke 360 -vårt system for dokumenthåndtering</p>
                        </li>
                    </ul>
                </tab>
                <tab heading="Kolleger (3)">
                    <ul class="list">
                        <li>
                            <h2>Ansatte</h2>
                            <p>Les mer om hvordan du kan bruke 360 -vårt system for dokumenthåndtering</p>
                        </li>
                        <li>
                            <h2>Ansatte</h2>
                            <p>Les mer om hvordan du kan bruke 360 -vårt system for dokumenthåndtering</p>
                        </li>
                        <li>
                            <h2>Ansatte</h2>
                            <p>Hvordan registrerer du en reiseregning? Og hvordan skal for eksempel en prosjektleder attestere regninger i Current? Her får du svaret!</p>
                        </li>
                        <li>
                            <h2>Ansatteh<h2>
                            <p>Les mer om hvordan du kan bruke 360 -vårt system for dokumenthåndtering</p>
                        </li>
                    </ul>
                </tab>
            </tabset>





        </div>

    </div>
</section>
<!-- end: main-section -->