
<div ng-controller="sliderController as slider" class="slide-container">
    <div ng-repeat="slide in slider.slides" ng-show="slide.active" class="row relativity slide">
        <div class="small-12 medium-12 large-8 columns">
            <img ng-src="{{slide.image}}" alt="{{slide.title}}"/>
        </div>
        <div class="small-12 medium-12 large-4 columns">
            <div class="teaser">
                <!-- really: h2 -->
                <h3>{{slide.title}}</h3>
                <ul class="inline-list byline">
                    <li><span class="date">{{slide.date}}</span></li>
                    <li><span class="align-with-date">Av: {{slide.author}}</span></li>
                </ul>
                <p>{{slide.teaser}}</p>

                <div class="text-center">
                    <a href="#" class="ks-button-small center min-width">Påmelding</a>
                </div>
            </div>
        </div>
        <ul class="inline-list right bottom-seeker pager">
            <li ng-repeat="slide in slider.slides"><a ng-class="{active: slide.active}" ng-click="slider.setActive(slide)">{{$index +1}}</a></li>
        </ul>
    </div>
</div>


