
<div ng-controller="sliderController as slider">
    <div ng-repeat="slide in slider.slides" ng-show="slide.active" class="row">
        <div class="small-12 medium-12 large-8 columns">
            <img ng-src="{{slide.image}}" alt="{{slide.title}}"/>
        </div>
        <div class="small-12 medium-12 large-4 columns">
            <div class="teaser">
                <!-- really: h2 -->
                <h3>{{slide.title}}</h3>
                <ul class="inline-list byline">
                    <li><span class="date">{{slide.date}}</span></li>
                    <li><span class="align-with-date">AV: {{slide.author}}</span></li>
                </ul>
                <p>{{slide.teaser}}</p>

                <div class="text-center">
                    <a href="#" class="ks-button-small center">Påmelding</a>
                </div>
                <ul class="inline-list right">
                    <li ng-repeat="slide in slider.slides"><a ng-click="slider.setActive(slide)">{{$index +1}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


