
<div ng-controller="sliderController as slider" class="slide-container">
    <div ng-repeat="slide in slider.slides" ng-show="slide.active" class="row relativity slide">
        <div class="small-12 medium-6 large-8 columns">
            <a href="{{slide.link}}"><img ng-src="{{slide.image}}" alt="{{slide.title}}"/></a>
        </div>
        <div class="small-12 medium-6 large-4 columns">
            <div class="teaser">
                <!-- really: h2 -->
                <h2 class="header3"><a href="{{slide.link}}">{{slide.title}}</a></h2>
                <ul class="inline-list byline">
                    <li><span class="date">{{slide.date}}</span></li>
                    <li><span class="align-with-date">Av: {{slide.author}}</span></li>
                </ul>
                <p>{{slide.teaser}}</p>

            </div>
        </div>
        <ul class="inline-list right bottom-seeker pager">
            <li ng-repeat="slide in slider.slides"><a ng-class="{active: slide.active}" ng-click="slider.setActive(slide)">{{$index +1}}</a></li>
        </ul>
    </div>
</div>


