<div class="small-12 large-8 large-pull-4 columns status-update" ng-controller="statusUpdateCtrl as statusUpdate">
    <div class="panel">
        <h5 class="update">Del oppdatering</h5>
        <div class="text-container">
            <textarea ng-model='update' placeholder="Hva skjer?"></textarea>
            <a ng-click="statusUpdate.addUpdate(update)" class="ks-button-small right min-width">Del</a>
        </div>
        <hr/>
        <div class="update-list">
            <div ng-repeat="update in statusUpdate.updates">
            <div class="update-item">
                <div class="row">
                <img ng-src="{{update.image}}" class="small-2 columns" />
                <div class="small-10 columns">
                    <h2>{{ update.name }}</h2>
                    <p ng-bind-html="update.body" ></p>
                    <ul class="update-buttons">
                        <li><a>Kommentarer</a></li>
                        <li><a ng-click="statusUpdate.toggleLike(update)">{{ update.hasLiked  | iif : "Fjern liker" : "Liker"}}</a></li>
                        <li class="comments">{{ update.comments.length }}</li>
                        <li class="likes">{{ update.likes.length }}</li>
                    </ul>
                </div>
                </div>
            </div>
                <hr/>
            </div>
        </div>
    </div>
</div>