<section class="main-section search persons">
    <!-- main content -->

    <div class="row">
        <div class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 columns">
            <h1>Søk</h1>

            <tabset>
                <tab heading="Alle sider (4)">

                    <div class="row">
                        <div class="small-12 columns">
                            <form class="search" action="/#/search">
                                <div class="row collapse">
                                    <div class="small-8 medium-6 columns magnify-carrier">
                                        <input type="text" name="search" class="searchfield" placeholder="Søk" /><span class="icon-search2"></span>
                                    </div>
                                    <div class="small-4 columns medium-3 end">
                                        <input class="ks-button-small postfix" type="submit" value="Søk igjen"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small12 columns">
                                        <p class="helper">Fant du ikke det du søkte etter? Prøv en annen formulering.</p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-12 columns">
                            <h2 class="header5 results">Ditt søk gav 4 treff på sider.</h2>

                            <ul class="list">
                                <li>
                                    <h2 class="header4"><a href="#/article">Treff i alle sider</a></h2>
                                    <p>Les mer om hvordan du kan bruke 360 -vårt system for dokumenthåndtering</p>
                                </li>
                                <li>
                                    <h2 class="header4"><a href="#/article">360 dokumenthåndtering</a></h2>
                                    <p>Les mer om hvordan du kan bruke 360 -vårt system for dokumenthåndtering</p>
                                </li>
                                <li>
                                    <h2 class="header4"><a href="#/article">Reiseregninger</a></h2>
                                    <p>Hvordan registrerer du en reiseregning? Og hvordan skal for eksempel en prosjektleder attestere regninger i Current? Her får du svaret!</p>
                                </li>
                                <li>
                                    <h2 class="header4"><a href="#/article">360 degrees of awesome</a></h2>
                                    <p>Les mer om hvordan du kan bruke 360 -vårt system for dokumenthåndtering</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-12 columns">
                            <ul class="inline-list right pager">
                                <!-- querystring params for paging er seff opp til backend å bestemme :) -->
                                <li><a href="#/search/?page=1" class="active">1</a></li>
                                <li><a href="#/search/?page=2">2</a></li>
                                <li><a href="#/search/?page=3">3</a></li>
                                <li><a href="#/search/?page=4">4</a></li>
                                <li><a href="#/search/?page=5">5</a></li>
                            </ul>
                        </div>
                    </div>
                </tab>
                <tab heading="Kolleger (5)">
                    <div class="row">
                        <div class="small-12 columns">
                            <form class="search" action="/#/persons">
                                <div class="row collapse">
                                    <div class="small-8 medium-6 columns magnify-carrier">
                                        <input type="text" name="search" class="searchfield" placeholder="Finn kollega" /><span class="icon-search2"></span>
                                    </div>
                                    <div class="small-4 columns medium-3 end">
                                        <input class="ks-button-small postfix" type="submit" value="Finn kollega"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small12 columns">
                                        <p class="helper">Fant du ikke personen du søkte etter? Søk i fornavn eller etternavn. </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            <h2 class="header5 results">Ditt søk gav 5 treff blandt kolleger.</h2>

                            <ul class="persons">
                                <li>
                                    <div class="row">
                                        <div class="medium-2 columns hide-for-small-only">
                                            <img src="/frontend/img/statusimageplaceholder1.png" alt="Kamfjord, Svein"/>
                                        </div>
                                        <div class="small-6 medium-6 columns">
                                            <h3 class="header5"><a href="http://fiks7.peratle.dev.bouvet.no/profiler/svein-aandahl/">Kamfjord, Svein</a></h3>
                                            <p>Fagsjef</p>
                                            <p>KS Bedrift</p>
                                        </div>
                                        <div class="small-6 medium-4 columns">
                                            <p>Mobil: 930 30 423</p>
                                            <p>Telefon: 22 45 68 99</p>
                                            <p>E-post: <a href="mailto:svein.kamfjord@ks.no">svein.kamfjord@ks.no</a></p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="medium-2 columns hide-for-small-only">
                                            <img src="/frontend/img/statusimageplaceholder2.png" alt="Kamfjord, Svein"/>
                                        </div>
                                        <div class="small-6 medium-6 columns">
                                            <h3 class="header5"><a href="http://fiks7.peratle.dev.bouvet.no/profiler/svein-aandahl/">Kierulf, Kirsti</a></h3>
                                            <p>Programleder for KommIT</p>
                                            <p>Forskning, innovasjon og digitalisering</p>
                                        </div>
                                        <div class="small-6 medium-4 columns">
                                            <p>Mobil: 950 62 780</p>
                                            <p>Telefon: 22 45 68 99</p>
                                            <p>E-post: <a href="mailto:kirsti.kierulf@ks.no">kirsti.kierulf@ks.no</a></p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="medium-2 columns hide-for-small-only">
                                            <img src="/frontend/img/statusimageplaceholder1.png" alt="Kamfjord, Svein"/>
                                        </div>
                                        <div class="small-6 medium-6 columns">
                                            <h3 class="header5"><a href="http://fiks7.peratle.dev.bouvet.no/profiler/svein-aandahl/">Kamfjord, Svein</a></h3>
                                            <p>Fagsjef</p>
                                            <p>KS Bedrift</p>
                                        </div>
                                        <div class="small-6 medium-4 columns">
                                            <p>Mobil: 930 30 423</p>
                                            <p>Telefon: 22 45 68 99</p>
                                            <p>E-post: <a href="mailto:svein.kamfjord@ks.no">svein.kamfjord@ks.no</a></p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="medium-2 columns hide-for-small-only">
                                            <img src="/frontend/img/statusimageplaceholder2.png" alt="Kamfjord, Svein"/>
                                        </div>
                                        <div class="small-6 medium-6 columns">
                                            <h3 class="header5"><a href="http://fiks7.peratle.dev.bouvet.no/profiler/svein-aandahl/">Kierulf, Kirsti</a></h3>
                                            <p>Programleder for KommIT</p>
                                            <p>Forskning, innovasjon og digitalisering</p>
                                        </div>
                                        <div class="small-6 medium-4 columns">
                                            <p>Mobil: 950 62 780</p>
                                            <p>Telefon: 22 45 68 99</p>
                                            <p>E-post: <a href="mailto:kirsti.kierulf@ks.no">kirsti.kierulf@ks.no</a></p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="medium-2 columns hide-for-small-only">
                                            <img src="/frontend/img/statusimageplaceholder1.png" alt="Kamfjord, Svein"/>
                                        </div>
                                        <div class="small-6 medium-6 columns">
                                            <h3 class="header5"><a href="http://fiks7.peratle.dev.bouvet.no/profiler/svein-aandahl/">Kamfjord, Svein</a></h3>
                                            <p>Fagsjef</p>
                                            <p>KS Bedrift</p>
                                        </div>
                                        <div class="small-6 medium-4 columns">
                                            <p>Mobil: 930 30 423</p>
                                            <p>Telefon: 22 45 68 99</p>
                                            <p>E-post: <a href="mailto:svein.kamfjord@ks.no">svein.kamfjord@ks.no</a></p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="medium-2 columns hide-for-small-only">
                                            <img src="/frontend/img/statusimageplaceholder2.png" alt="Kamfjord, Svein"/>
                                        </div>
                                        <div class="small-6 medium-6 columns">
                                            <h3 class="header5"><a href="http://fiks7.peratle.dev.bouvet.no/profiler/svein-aandahl/">Kierulf, Kirsti</a></h3>
                                            <p>Programleder for KommIT</p>
                                            <p>Forskning, innovasjon og digitalisering</p>
                                        </div>
                                        <div class="small-6 medium-4 columns">
                                            <p>Mobil: 950 62 780</p>
                                            <p>Telefon: 22 45 68 99</p>
                                            <p>E-post: <a href="mailto:kirsti.kierulf@ks.no">kirsti.kierulf@ks.no</a></p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="medium-2 columns hide-for-small-only">
                                            <img src="/frontend/img/statusimageplaceholder1.png" alt="Kamfjord, Svein"/>
                                        </div>
                                        <div class="small-6 medium-6 columns">
                                            <h3 class="header5"><a href="http://fiks7.peratle.dev.bouvet.no/profiler/svein-aandahl/">Kamfjord, Svein</a></h3>
                                            <p>Fagsjef</p>
                                            <p>KS Bedrift</p>
                                        </div>
                                        <div class="small-6 medium-4 columns">
                                            <p>Mobil: 930 30 423</p>
                                            <p>Telefon: 22 45 68 99</p>
                                            <p>E-post: <a href="mailto:svein.kamfjord@ks.no">svein.kamfjord@ks.no</a></p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="medium-2 columns hide-for-small-only">
                                            <img src="/frontend/img/statusimageplaceholder2.png" alt="Kamfjord, Svein"/>
                                        </div>
                                        <div class="small-6 medium-6 columns">
                                            <h3 class="header5"><a href="http://fiks7.peratle.dev.bouvet.no/profiler/svein-aandahl/">Kierulf, Kirsti</a></h3>
                                            <p>Programleder for KommIT</p>
                                            <p>Forskning, innovasjon og digitalisering</p>
                                        </div>
                                        <div class="small-6 medium-4 columns">
                                            <p>Mobil: 950 62 780</p>
                                            <p>Telefon: 22 45 68 99</p>
                                            <p>E-post: <a href="mailto:kirsti.kierulf@ks.no">kirsti.kierulf@ks.no</a></p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="medium-2 columns hide-for-small-only">
                                            <img src="/frontend/img/statusimageplaceholder1.png" alt="Kamfjord, Svein"/>
                                        </div>
                                        <div class="small-6 medium-6 columns">
                                            <h3 class="header5"><a href="http://fiks7.peratle.dev.bouvet.no/profiler/svein-aandahl/">Kamfjord, Svein</a></h3>
                                            <p>Fagsjef</p>
                                            <p>KS Bedrift</p>
                                        </div>
                                        <div class="small-6 medium-4 columns">
                                            <p>Mobil: 930 30 423</p>
                                            <p>Telefon: 22 45 68 99</p>
                                            <p>E-post: <a href="mailto:svein.kamfjord@ks.no">svein.kamfjord@ks.no</a></p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="medium-2 columns hide-for-small-only">
                                            <img src="/frontend/img/statusimageplaceholder2.png" alt="Kamfjord, Svein"/>
                                        </div>
                                        <div class="small-6 medium-6 columns">
                                            <h3 class="header5"><a href="http://fiks7.peratle.dev.bouvet.no/profiler/svein-aandahl/">Kierulf, Kirsti</a></h3>
                                            <p>Programleder for KommIT</p>
                                            <p>Forskning, innovasjon og digitalisering</p>
                                        </div>
                                        <div class="small-6 medium-4 columns">
                                            <p>Mobil: 950 62 780</p>
                                            <p>Telefon: 22 45 68 99</p>
                                            <p>E-post: <a href="mailto:kirsti.kierulf@ks.no">kirsti.kierulf@ks.no</a></p>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            <ul class="inline-list right pager">
                                <!-- querystring params for paging er seff opp til backend å bestemme :) -->
                                <li><a href="#/search/?page=1&persons=true" class="active">1</a></li>
                                <li><a href="#/search/?page=2&persons=true">2</a></li>
                                <li><a href="#/search/?page=3&persons=true">3</a></li>
                                <li><a href="#/search/?page=4&persons=true">4</a></li>
                                <li><a href="#/search/?page=5&persons=true">5</a></li>
                            </ul>
                        </div>
                    </div>



                </tab>
            </tabset>





        </div>

    </div>
</section>
<!-- end: main-section -->