
.main-menu {


  -webkit-backface-visibility: hidden;
  width: 15.625rem;
  top: 0;
  bottom: 0;
  position: absolute;
  overflow-y: auto;
  background: #edf6fd;
  z-index: 1001;
  box-sizing: content-box;
  min-height: rem-calc(800);
  /*display: block;*/


  /*-webkit-transition: -webkit-transform 250ms ease;*/

  ul.off-canvas-list {
    @include transition_transform(transform, 250ms, ease);
    /*-webkit-transition: -webkit-transform 500ms ease;*/

    li {
      a {
        &:hover {
          background: none!important;
        }
      }

      ul {
        position: absolute;
        left: 92%;
        top: 0px;
        list-style: none;
        width: 100%;
      }
    }
  }
}
