
.main-menu {
  -webkit-backface-visibility: hidden;
  width: 15.625rem;
  top: 0;
  bottom: 0;
  position: absolute;
  overflow-y: auto;
  background: #edf6fd;
  z-index: 1001;
  box-sizing: content-box;
  min-height: rem-calc(800);

  ul.off-canvas-list {

    margin: 40px 0 0 0;

    @include transition_transform(transform, 250ms, ease);
    li {
      a {
        &:hover, &:focus, &:focus  {
          background: none !important;
          font-weight: bold;
        }

        span {
          float: right;
          margin-top: 4px;
        }

      }

      ul {
        position: absolute;
        left: 92%;
        top: 0px;
        list-style: none;
        width: 100%;
        z-index: 1002;
        display: none;
      }
    }
  }

  a.active + ul {
    display: block !important;
  }


  .nav-button {
    float: right;
  }

a.back-button {
  float: left;
  padding: 5px;
  &:before {
    @extend  .icomoon;
    content:'\e608';
    font-size: rem-calc(30);
    color:black;
  }
}

  a.close-button {
    float: right;
    padding: 5px;
    &:before {
      @extend .icomoon;
      content:'\e607';
      font-size: rem-calc(30);
      color:black;
    }
  }
}
