.status-update {
  .panel {
    background-color: transparent;
    border: none;
  }
  h2.update {
    margin-left: 10px;
    display: inline;
    &:before {
      @extend .icomoon;
      position: relative;
      content: "\e602";
      left: -6px;
      top: 2px;
    }
  }

  .text-container {
    @include clearfix();
    $padding :rem-calc(5);
    background-color: $KSGrey;
    padding:$padding;
    margin-top: rem-calc(20);
    textarea {
      margin-bottom: $padding;
      line-height: 1rem;
      padding-top: rem-calc(10);
      width: 100%;
      max-width: 100%;
      height: rem-calc(100);
      border: none;
    }

    &:before{
      @include css-triangle ("up", 13px, $KSGrey);
      position: absolute;
      top: rem-calc(35);
      left: 44%;
    }
  }

  .update-list {
    h2 {
      color:$KSBlueMedium;
      font-size: rem-calc(18);
      font-weight: bold;
      margin-top: 0;
    }

    p{
      font-size: rem-calc(16);
      margin-bottom: 0;
    }

    ul.update-buttons {
      @include inline-list;
      margin: 0;

      li:first-of-type{
        margin-left: 0;
      }

      li {
        font-size: rem-calc(16);

        a{
          color:$KSRed;
        }

        &:before{
          @extend .icomoon;
          margin-right: 8px;
        }

        &.comments {
          &:before {
            content: "\f0e5";
          }
        }

        &.likes {
          &:before {
            content: "\f08a";
            position: relative;
            top: 1px;
          }
        }
      }



      div.likes-list {
        display: inline;

        ul {
          position: absolute;
          bottom: 2rem;
          background-color: black;
          color: white;
          padding: 5px;
          left: 239px;
          li {
            font-size: 12px;
          }

          &:after{
            @include css-triangle ("down", 13px, black);
            position: absolute;
            content: "";
            left: 33%;
          }
        }
      }
    }
  }

  .comments {
    .comment {
      margin-bottom: rem-calc(20);

      .comment-row {
        position: relative;
        left: -26px;
      }

      h3 {
        color:$KSBlueMedium;
        font-size: rem-calc(14);
        margin-bottom: 0;
      }

      p {
        display: inline;
      }
    }
  }


  textarea {
    line-height: 1rem;
    padding-top: 13px;
    max-width: 100%;
  }

}

@media #{$medium} {
  .status-update {
    .text-container {
      &:before{
        left: 88px;
      }
    }
  }

}

